.div{:style => 'padding:20px 0px 20px 20px;font-family:HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;'}
  - title "Announcement"

  %p
    %strong Message:
    =raw @announcement.message
  %p
    %strong Visible:
    = @announcement.visible

  %p
    = link_to "Edit", edit_announcement_path(@announcement)
    |
    = link_to "Destroy", @announcement, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", announcements_path
    |
    = link_to "Back to Website", root_url
