.admin
  =link_to "edit this page", edit_page_path(@content.id)
  \&nbsp;|
  = link_to 'add new page', new_page_path
  \&nbsp;|
  = link_to 'view all pages', pages_path
  \&nbsp;|
  = link_to 'add new event', new_event_path
  \&nbsp;|
  = link_to 'upload a document', ""  #new_document_path
  \&nbsp;|
  = link_to 'manage staff', employees_path
  \&nbsp;|
  = link_to 'manage announcments', announcements_path
  \&nbsp;|
  = link_to 'logout', logout_path
