.admin
  =link_to "edit this page", edit_page_path(@content.id)
  |
  = link_to 'add new page', new_page_path
  |
  = link_to 'view all pages', pages_path
  |
  = link_to 'add new event', "" #new_calendar_event_path
  |
  = link_to 'upload a document', ""  #new_document_path
  |
  = link_to 'manage staff', employees_path
  |
  = link_to 'logout', logout_path
