= form_for @staff_category do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name, class: 'input_box', size: 75
  %p
    = f.label :active
    \&nbsp;
    = f.check_box :active
  %p
    = f.submit
